@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face{
    font-family: 'Pretendard';
    src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
  body{
    background-color: #121212;
  }
}

